services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    ports:
      - "13378:80"
    volumes:
      - /srv/audiobooks:/audiobooks
      - ./abs-config:/config
      - ./abs-metadata:/metadata
    restart: unless-stopped
